In [85]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json
import time
import gmaps
# Google API Key
from config import gkey

In [86]:
breweries_pd = pd.read_csv("Resource/breweries.csv")
breweries_pd = breweries_pd[['name','city','state']]
breweries_pd.head()

                        name           city state
0         NorthGate Brewing     Minneapolis    MN
1  Against the Grain Brewery     Louisville    KY
2   Jack's Abby Craft Lagers     Framingham    MA
3  Mike Hess Brewing Company      San Diego    CA
4    Fort Point Beer Company  San Francisco    CA

In [87]:
# Add columns for lat, lng, airport name, airport address, airport rating

breweries_pd["Lat"] = ""
breweries_pd["Lng"] = ""
breweries_pd.head()

                        name           city state Lat Lng
0         NorthGate Brewing     Minneapolis    MN
1  Against the Grain Brewery     Louisville    KY
2   Jack's Abby Craft Lagers     Framingham    MA
3  Mike Hess Brewing Company      San Diego    CA
4    Fort Point Beer Company  San Francisco    CA

In [120]:
# create a params dict that will be updated with new city each iteration
params = {"key": gkey}

# Loop through the cities_pd and run a lat/long search for each city

for index, row in breweries_pd.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
  
    city = row['city']
    state = row['state']
    name = row['name']

    print(city, state)
    # update address key value
    params['address'] = f"{city},{state},{name}"

    #time.sleep(1)
    # make request
    brew_lat_lng = requests.get(base_url, params=params)
    
    # convert to json
    brew_lat_lng = brew_lat_lng.json()

    breweries_pd.loc[index, "Lat"] = brew_lat_lng["results"][0]["geometry"]["location"]["lat"].astype(int)
    breweries_pd.loc[index, "Lng"] = brew_lat_lng["results"][0]["geometry"]["location"]["lng"]
    print(index)
breweries_pd.head()

Minneapolis  MN

AttributeError: 'float' object has no attribute 'astype'

In [89]:
breweries_pd.head()

                        name           city state      Lat      Lng
0         NorthGate Brewing     Minneapolis    MN  44.9983 -93.2212
1  Against the Grain Brewery     Louisville    KY  38.2555  -85.744
2   Jack's Abby Craft Lagers     Framingham    MA  42.2802 -71.4112
3  Mike Hess Brewing Company      San Diego    CA  32.7508 -117.245
4    Fort Point Beer Company  San Francisco    CA  37.7959 -122.394

In [115]:
locations = breweries_pd[['Lat','Lng',]]

locations.head()

       Lat      Lng
0  44.9983 -93.2212
1  38.2555  -85.744
2  42.2802 -71.4112
3  32.7508 -117.245
4  37.7959 -122.394

In [116]:
gmaps.configure(api_key=gkey)
fig = gmaps.figure()

In [122]:
heat_layer = gmaps.heat_layer(locations)

AttributeError: module 'gmaps' has no attribute 'heat_layer'