In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import requests
import json
#from config.py import gkey

In [2]:
#tried to use BreweryDB.com API to make a database; however, a paid subscription is required.

# params = {'gkey' : gkey, 
#           'format' : 'json', 
#           'name' : 'RiseofthePhoenix'}
# base_url = 'https://api.brewerydb.com/v2/'
# request = requests.get(base_url, params=params)
# beer_pd = request.json()
# beer_pd
# {'message': 'Request Successful',

#  'data': 'You have reached the BreweryDB.com API.  For access, check out http://www.brewerydb.com/developers',
#  'status': 'success'}

In [3]:
#import data found in https://www.kaggle.com/nickhould/craft-cans
beer_df = pd.read_csv('Resource/beers.csv')
breweries_df = pd.read_csv('Resource/breweries.csv')
beer_df.head()

,Unnamed: 0,abv,ibu,id,name,style,brewery_id,ounces
0,0,0.050,NaN,1436,Pub Beer,American Pale Lager,408,12.0
1,1,0.066,NaN,2265,Devil's Cup,American Pale Ale (APA),177,12.0
2,2,0.071,NaN,2264,Rise of the Phoenix,American IPA,177,12.0
3,3,0.090,NaN,2263,Sinister,American Double / Imperial IPA,177,12.0
4,4,0.075,NaN,2262,Sex and Candy,American IPA,177,12.0

In [4]:
#clean data RE:beer.csv
#remove the ibu, ounces from data
beer_df = beer_df[['id','name','abv','style','brewery_id']]
beer_df.head()
beer_df.info()
#there are 2410 beers in this list. We need to clean the data and remove the blank data.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2410 entries, 0 to 2409
Data columns (total 5 columns):
id            2410 non-null int64
name          2410 non-null object
abv           2348 non-null float64
style         2405 non-null object
brewery_id    2410 non-null int64
dtypes: float64(1), int64(2), object(2)
memory usage: 94.2+ KB

In [5]:
beer_df = beer_df.dropna(axis=0, how='any')
beer_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2346 entries, 0 to 2409
Data columns (total 5 columns):
id            2346 non-null int64
name          2346 non-null object
abv           2346 non-null float64
style         2346 non-null object
brewery_id    2346 non-null int64
dtypes: float64(1), int64(2), object(2)
memory usage: 110.0+ KB

In [6]:
beer_styles = beer_df['style'].value_counts()
beer_styles.head()

American IPA                      417
American Pale Ale (APA)           239
American Amber / Red Ale          125
American Blonde Ale               104
American Double / Imperial IPA    103
Name: style, dtype: int64

In [7]:
unique_style_df = pd.DataFrame(beer_df['style'].unique())
unique_style_df.head()

                                0
0             American Pale Lager
1         American Pale Ale (APA)
2                    American IPA
3  American Double / Imperial IPA
4                   Oatmeal Stout

In [8]:
#clean data RE:breweries.csv
#rename unamed column to be able to merge data
breweries_df = breweries_df.rename(columns = {'Unnamed: 0':'brewery_id'})
breweries_df.info()
#there are 558 different breweries

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558 entries, 0 to 557
Data columns (total 4 columns):
brewery_id    558 non-null int64
name          558 non-null object
city          558 non-null object
state         558 non-null object
dtypes: int64(1), object(3)
memory usage: 17.5+ KB

In [27]:
#find brewery count by city
group = pd.DataFrame(breweries_df.groupby(['state'])['city'].count())
group_sort = group.sort_values(by='city',ascending=False)
group_sort

       city
state
 CO      47
 CA      39
 MI      32
 OR      29
 TX      28
 PA      25
 WA      23
 MA      23
 IN      22
 WI      20
 NC      19
 IL      18
 VA      16
 NY      16
 OH      15
 FL      15
 MN      12
 AZ      11
 VT      10
 MO       9
 MT       9
 ME       9
 CT       8
 AK       7
 MD       7
 GA       7
 OK       6
 RI       5
 NE       5
 LA       5
 IA       5
 ID       5
 UT       4
 SC       4
 WY       4
 NM       4
 KY       4
 HI       4
 NJ       3
 NH       3
 AL       3
 TN       3
 KS       3
 NV       2
 DE       2
 AR       2
 MS       2
 ND       1
 SD       1
 DC       1
 WV       1

In [38]:
#merge data to beers
merge = pd.merge(breweries_df,beer_df,on='brewery_id',suffixes=('_brewery','_beer'))
merge

,brewery_id,name_brewery,city,state,id,name_beer,abv,style
0,0,NorthGate Brewing,Minneapolis,MN,2692,Get Together,0.045,American IPA
1,0,NorthGate Brewing,Minneapolis,MN,2691,Maggie's Leap,0.049,Milk / Sweet Stout
2,0,NorthGate Brewing,Minneapolis,MN,2690,Wall's End,0.048,English Brown Ale
3,0,NorthGate Brewing,Minneapolis,MN,2689,Pumpion,0.060,Pumpkin Ale
4,0,NorthGate Brewing,Minneapolis,MN,2688,Stronghold,0.060,American Porter
5,0,NorthGate Brewing,Minneapolis,MN,2687,Parapet ESB,0.056,Extra Special / Strong Bitter (ESB)
6,1,Against the Grain Brewery,Louisville,KY,2686,Citra Ass Down,0.080,American Double / Imperial IPA
7,1,Against the Grain Brewery,Louisville,KY,2685,London Balling,0.125,English Barleywine
8,1,Against the Grain Brewery,Louisville,KY,2684,35 K,0.077,Milk / Sweet Stout
9,1,Against the Grain Brewery,Louisville,KY,2683,A Beer,0.042,American Pale Ale (APA)
10,1,Against the Grain Brewery,Louisville,KY,2682,Rules are Rules,0.050,German Pilsener
11,1,Against the Grain Brewery,Louisville,KY,2681,Flesh Gourd'n,0.066,Pumpkin Ale
12,1,Against the Grain Brewery,Louisville,KY,2680,Sho'nuff,0.040,Belgian Pale Ale
13,1,Against the Grain Brewery,Louisville,KY,2679,Bloody Show,0.055,American Pilsner
14,1,Against the Grain Brewery,Louisville,KY,2678,Rico Sauvin,0.076,American Double / Imperial IPA
15,1,Against the Grain Brewery,Louisville,KY,2677,Coq de la Marche,0.051,Saison / Farmhouse Ale
16,1,Against the Grain Brewery,Louisville,KY,2676,Kamen Knuddeln,0.065,American Wild Ale
17,1,Against the Grain Brewery,Louisville,KY,2675,Pile of Face,0.060,American IPA
18,1,Against the Grain Brewery,Louisville,KY,2674,The Brown Note,0.050,English Brown Ale
19,2,Jack's Abby Craft Lagers,Framingham,MA,2673,House Lager,0.052,Keller Bier / Zwickel Bier
20,2,Jack's Abby Craft Lagers,Framingham,MA,2672,Leisure Time,0.048,American Pale Lager
21,2,Jack's Abby Craft Lagers,Framingham,MA,2671,Excess IPL,0.072,American India Pale Lager
22,2,Jack's Abby Craft Lagers,Framingham,MA,2670,Hoponius Union,0.067,American India Pale Lager
23,2,Jack's Abby Craft Lagers,Framingham,MA,2669,Calyptra,0.049,American India Pale Lager
24,3,Mike Hess Brewing Company,San Diego,CA,2668,Habitus (2014),0.080,American Double / Imperial IPA
25,3,Mike Hess Brewing Company,San Diego,CA,2667,Solis,0.075,American IPA
26,3,Mike Hess Brewing Company,San Diego,CA,2666,Jucundus,0.060,Wheat Ale
27,3,Mike Hess Brewing Company,San Diego,CA,2664,Habitus,0.080,American Double / Imperial IPA
28,3,Mike Hess Brewing Company,San Diego,CA,2663,Grazias,0.063,Cream Ale
29,3,Mike Hess Brewing Company,San Diego,CA,2662,Claritas,0.058,Kölsch
...,...,...,...,...,...,...,...,...
2316,540,Mother Earth Brewing Company,Kinston,NC,408,Sunny Haze,0.050,Hefeweizen
2317,541,Arcadia Brewing Company,Battle Creek,MI,413,Sky High Rye,0.060,American Pale Ale (APA)
2318,541,Arcadia Brewing Company,Battle Creek,MI,390,Whitsun,0.062,American Pale Wheat Ale
2319,542,Angry Minnow Brewing Company,Hayward,WI,410,River Pig Pale Ale,0.054,American Pale Ale (APA)
2320,542,Angry Minnow Brewing Company,Hayward,WI,409,Oaky's Oatmeal Stout,0.047,Oatmeal Stout
2321,543,Great Northern Brewing Company,Whitefish,MT,404,Black Star Double Hopped Golden Lager (24 oz.),0.045,American Pale Lager
2322,543,Great Northern Brewing Company,Whitefish,MT,164,Black Star Double Hopped Golden Lager (12 oz.),0.045,American Pale Lager
2323,544,Pyramid Breweries,Seattle,WA,399,Pyramid Hefeweizen (2011),0.052,Hefeweizen
2324,544,Pyramid Breweries,Seattle,WA,82,Haywire Hefeweizen (2010),0.052,Hefeweizen
2325,545,Lancaster Brewing Company,Lancaster,PA,392,Rumspringa Golden Bock,0.066,Maibock / Helles Bock
2326,545,Lancaster Brewing Company,Lancaster,PA,195,Lancaster German Style Kölsch,0.048,Kölsch
2327,546,Upstate Brewing Company,Elmira,NY,382,Common Sense Kentucky Common Ale,0.053,American Brown Ale
2328,546,Upstate Brewing Company,Elmira,NY,381,Upstate I.P.W.,0.065,American IPA
2329,547,Moat Mountain Smoke House & Brew...,North Conway,NH,337,Boneshaker Brown Ale,0.055,English Brown Ale
2330,547,Moat Mountain Smoke House & Brew...,North Conway,NH,336,Iron Mike Pale Ale,0.056,American Pale Ale (APA)
2331,549,Mogollon Brewing Company,Flagstaff,AZ,327,Wapiti Amber Ale,0.050,American Amber / Red Ale
2332,550,Wind River Brewing Company,Pinedale,WY,324,Wyoming Pale Ale,0.072,American Pale Ale (APA)
2333,550,Wind River Brewing Company,Pinedale,WY,323,Wind River Blonde Ale,0.050,American Blonde Ale
2334,551,Silverton Brewery,Silverton,CO,212,Bear Ass Brown,0.042,American Brown Ale
2335,551,Silverton Brewery,Silverton,CO,161,Red Mountain Ale,0.060,American Amber / Red Ale
2336,551,Silverton Brewery,Silverton,CO,160,Ice Pick Ale,0.068,American IPA
2337,552,Mickey Finn's Brewery,Libertyville,IL,174,Mickey Finn's Amber Ale,0.056,American Amber / Red Ale
2338,553,Covington Brewhouse,Covington,LA,129,Heiner Brau Kölsch,0.050,Kölsch
2339,554,Dave's Brewfarm,Wilson,WI,110,BrewFarm Select Golden Lager,0.055,American Pale Lager
2340,555,Ukiah Brewing Company,Ukiah,CA,98,Pilsner Ukiah,0.055,German Pilsener
2341,556,Butternuts Beer and Ale,Garrattsville,NY,52,Heinnieweisse Weissebier,0.049,Hefeweizen
2342,556,Butternuts Beer and Ale,Garrattsville,NY,51,Snapperhead IPA,0.068,American IPA
2343,556,Butternuts Beer and Ale,Garrattsville,NY,50,Moo Thunder Stout,0.049,Milk / Sweet Stout
2344,556,Butternuts Beer and Ale,Garrattsville,NY,49,Porkslap Pale Ale,0.043,American Pale Ale (APA)
2345,557,Sleeping Lady Brewing Company,Anchorage,AK,30,Urban Wilderness Pale Ale,0.049,English Pale Ale